.outer-box{
    width: 500px;
    margin:5% auto;
  
}

.box{
    background: #790f4d;
    color: white;
    width :100%;
    height: 120px;
}

.text-end{
    text-align: center;
}

h2{
    margin: 0;
    text-align: center;
    padding: 10px 10px 10px 0px;
}

.text-addToDo{
    text-align: center;
    margin-top: 10px;
}

input[type=text]{
    padding: 7px;
    width: 250px;
    border-radius: 5px;
    border:0px
}

.btn-addToDo{
    color: white;
    background: dodgerblue;
    font-size: 14px;
    font-weight: 600;
    border:none;
    padding: 5px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
}

input[type=text]:focus{
    outline:none;
}

.todo-list{
    max-height: 210px;
    overflow: auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: flex;
    justify-content: space-between;
    background: lightgray;
    font-size: 18px;
    font-weight: 600;
    color:black;
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.icon{
    display:flex;
    justify-content: space-between;
    width:70px;
}

.pointer{
    cursor: pointer;
}

.fa_custom {
color:darkblue

}

.line-through{
    text-decoration:line-through;
    color: green;
}

.red{
    color:red;

}
.green{
    color: yellowgreen;
}
